@tailwind base;
@tailwind components;
@tailwind utilities;

*, body {
  @apply text-base;
}

html *::-webkit-scrollbar {
  @apply rounded-none w-2.5 h-2.5;
}

html *::-webkit-scrollbar-thumb {
  @apply rounded-md bg-black/30;
}

html *::-webkit-scrollbar-track {
  @apply border-0 rounded-full bg-transparent;
}

.primary-color {
  color: white;
  background: #008bc2;
}

.animation-btn {
  @apply transition-all ease-out hover:scale-105 hover:rotate-3 hover:shadow-md;
}

.text-content {
  font-size: 26px;
  line-height: 26px;
}

.custom-paginate {
  gap: 6px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: center;
  a {
    width: 42px;
    height: 42px;
    display: block;
    line-height: 42px;
    text-align: center;
    border: 1px solid #cccccc80;
    &:hover {
      @apply bg-slate-200;
    }
  }
  .selected {
    @apply bg-black font-extrabold text-pink-500;
  }
}

@for $i from 1 through 11 {
  .hidden-text-content-#{$i} {
    height: calc($i * 26px);
    overflow: hidden;
  }
}

